.delete-confirmation {
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: popup ease-in-out 0.3s;
  .btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    button {
      padding: 0.25rem 1rem;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      color: whitesmoke;
      font-weight: 600;
      transition: color;
      transition-duration: 0.1s;
      transition-timing-function: linear;
    }
    .btn-cancel {
      color: black;
      background-color: #b9b9b9;
      &:hover {
        background-color:  #999797;
      }
    }
    .btn-delete {
      background-color: red;
      &:hover {
        background-color: #B52a09;
      }
    }
  }
  .msg-container {
    padding: 2rem;
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    box-shadow: 5px 5px 10px 5px dimgray;
    background-color: white;
    .x-mark {
      background: transparent;
      border-radius: 50%;
    }
    .btn-close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1.25rem;
      cursor: pointer;
      &:hover {
        scale: 1.25;
        transition: all ease-in 0.1s;
      }
    }
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  66% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
