<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Manager</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Test1</td>
        <td>New</td>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Test2</td>
        <td>In progress</td>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Test3</td>
        <td>Finished</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Test1</td>
        <td>New</td>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Test2</td>
        <td>In progress</td>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Test3</td>
        <td>Finished</td>
        <td>Larry</td>
      </tr>
    </tbody>
  </table>