
<div class="flex justify-center items-center bg-gray-300 h-full">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-1/4 h-[70%] bg-white flex gap-14 flex-col px-5 rounded-md">
        <div class="mt-10 flex justify-center w-full relative">
            <img src="../../assets/images/logo_elca.png" class="w-20 h-20">
            <span class="absolute top-[110%] text-red-500 text-[15px]">{{errorMessage | translate}}</span>
        </div>
        <div class="h-10">
            <label class="font-semibold">Username: </label>
            <input formControlName="username" class="ml-3 pl-3 rounded border border-black h-full focus:outline-none focus:border-blue-500" placeholder="Enter your username">
        </div>
        <div class="h-10">
            <label class="font-semibold">Password: </label>
            <input type="password" formControlName="password" class="ml-3 pl-3 rounded border border-black h-full focus:outline-none focus:border-sky-500" placeholder="Enter your password">
        </div>
        <div class="flex justify-center items-center">
            <button type="submit" class="flex justify-center items-center rounded-xl cursor-pointer text-white bg-[#D2492A] hover:bg-[#f07151] w-1/3 h-10">Login</button> 
        </div>
    </form>
</div>
