<div class="file-export">
    <div class="content">
        <fa-icon [icon]="faXmark" (click)="hide.emit()" class="close-icon"></fa-icon>
        <div class="filter-container">
            <div class="row-container">
                <div class="container">
                    <label for="projectName">Project name</label>
                    <input type="text" id="projectName" [(ngModel)]="request.projectName">
                </div>
                <div class="container">
                    <label for="customer">Customer</label>
                    <input type="text" id="customer" [(ngModel)]="request.customer">
                </div>
                <div class="container">
                    <label for="leaderName">Leader name</label>
                    <input type="text" id="leaderName" [(ngModel)]="request.leaderName">
                </div>
            </div>
            <div class="row-container">
                <p>Start date:</p>
                <div class="container">
                    <label for="">From:</label>
                    <app-date-input [(date)]="request.startDateFrom" ></app-date-input>
                </div>
                <div class="container">
                    <label for="">To:</label>
                    <app-date-input [(date)]="request.startDateTo"></app-date-input>
                </div>
            </div>
            <div class="row-container">
                <p>Start date:</p>
                <div class="container">
                    <label for="">From:</label>
                    <app-date-input [(date)]="request.endDateFrom"></app-date-input>
                </div>
                <div class="container">
                    <label for="">To:</label>
                    <app-date-input [(date)]="request.endDateTo"></app-date-input>
                </div>
            </div>
            <div class="other-options">
                <div class="container">
                    <label for="status">Status:</label>
                    <select id="status" [(ngModel)]="request.status">
                        <option value="" selected>None</option>
                        <option value="NEW">New</option>
                        <option value="PLA">Planned</option>
                        <option value="INP">In progress</option>
                        <option value="FIN">Finished</option>
                    </select>
                </div>
                <div class="container">
                    <label for="orderBy">Order by:</label>
                    <select id="orderBy" [(ngModel)]="request.orderBy">
                        <option value="projectNumber" selected>Project number</option>
                        <option value="projectName">Project name</option>
                        <option value="customer">Customer</option>
                        <option value="status">Project status</option>
                        <option value="startDate">Start date</option>
                        <option value="endDate">End date</option>
                    </select>
                </div>
                <div class="container">
                    <label for="numberOfRows">Number of rows</label>
                    <input type="number" id="numberOfRows" min="1" [(ngModel)]="request.numberOfRows"/>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="button" (click)="export()" class="common-button">Export</button>    
        </div>
    </div>
</div>