<div class="border-r border-black h-full">
    <div class="flex justify-center">
        <ul class="flex flex-col items-start gap-2">
            <li class="text-2xl my-3 text-blue-400 hover:shadow-xl hover:text-[#D2492A]"><a routerLink="/project-list">{{'projectList' | translate}}</a></li>
            <li class="text-xl text-blue-400 hover:shadow-md hover:text-[#D2492A]"><a routerLink="/project-new">{{'new' | translate}}</a></li>
            <li class="cursor-not-allowed">{{'project' | translate}}</li>
            <li class="cursor-not-allowed">{{'customer' | translate}}</li>
            <li class="cursor-not-allowed">{{'supplier' | translate}}</li>
        </ul>
    </div>
</div>
