<ul class="nav nav-pills nav-stacked " style="margin-top: 10px">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['project/list']" routerLinkActive="projectListActive">Project list</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
      New <span></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
      <li><a class="dropdown-item" [routerLink]="['project/create']" routerLinkActive="projectActive">Project</a></li>
      <li class="disabled"><a class="dropdown-item" href="#">Customer</a></li>
      <li class="disabled"><a class="dropdown-item" href="#">Supplier</a></li>
    </ul>
  </li>
</ul>
