<div class="header-container">
  <div class="logo-container">
    <img class="logo" src="../../../assets/images/logo_elca.png" alt="" />
    <p class="logo-title">Project infomation management</p>
  </div>

  <div style="display: flex; gap: 100px">
    <div style="display: flex; align-items: center">
      <p>EN</p>
      |
      <p>FR</p>
    </div>
    <nav style="display: flex; align-items: center">
      <ul>
        <li><a routerLink="/">Help</a></li>
        <li><a routerLink="/about">Logout</a></li>
      </ul>
    </nav>
  </div>
</div>
