@import "src/styles";

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
  .toggle-container {
    height: 0.7rem;
    width: 1.7rem;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 2px inset dimgray;
    cursor: pointer;
    .toggle-control {
      height: 0.9rem;
      width: 0.9rem;
      background-color: dimgrey;
      border-radius: 50%;
      position: absolute;
      top: -0.1rem;
      left: -1px;
      transition-duration: 0.35s;
    }
    .move-right {
      transform: translateX(0.9rem);
      background-color: $color-blue;
    }
    .move-left {
      transform: -translateX(0.8rem);
    }
  }
}
