<div class="file-import">
    <div class="content">
        <fa-icon [icon]="faXmark"  (click)="hide.emit()" class="close-icon"></fa-icon>
        <div class="file-name-container">
            <p *ngIf="!fileName && isValidData">Select a file to import data (.csv or .xlsx)</p>
            <p *ngIf="fileName && isValidData">{{fileName}}</p>
            <button (click)="downloadTemplate()" *ngIf="!fileName && isValidData" class="common-button" style="background-color: plum;">Download template</button>
            <p *ngIf="!isValidData">Your file contains invalid data. Click <a [href]="fileErrorDownload" download="Error Details.xlsx">here</a> to see details</p>
        </div>
        <div class="button-container">
            <button type="button" (click)="file.click()" class="common-button">Choose file</button>
            <button type="button" (click)="handleSubmit()" class="common-button" *ngIf="fileName">Submit</button>    
        </div>
        <input type="file" accept=".csv,.xlsx" #file (change)="handleFileChange()" hidden>
    </div>
</div>
