@import 'src/styles';

.not-found-layout {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 2.5rem;
      color: $color-primary;
    }
    h2 {
      font-weight: $fw-little-bold;
    }
  }
  a {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: $color-dark-primary;
    cursor: pointer;
    transition: background-color;
    transition-timing-function: linear;
    transition-duration: 0.1s;
    color: whitesmoke;
    font-weight: $fw-semibold;
    text-decoration: none;
    &:hover {
      background-color: $color-dark-primary-hover;
    }
  }
}
