<!--
<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo_elca.png" alt="Logo" width="56" height="58" class="d-inline-block align-text-bottom me-5">
      <span class="fw-bold top-bar-font">Project Information Management</span>
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">EN|FR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Log out</a>
      </li>
    </ul>
  </div>
</nav>
-->
<div class="container-fluid">
  <div class="row" style="padding-bottom: 10px">
      <a class="navbar-brand" href="#">
        <div class="navbar-brand-name">
          <img src="/assets/images/logo_elca.png" alt="Logo" class="img-responsive" />
          <span class="nav-name">Project Information Management</span>
        </div>
      </a>
      <ul class="nav navbar-nav" style="padding-top: 30px; padding-right: 60px; float: right">
        <li>
          <a href="#">EN|FR</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li class="disabled">
          <a href="#" aria-disabled="true">Log out</a>
        </li>
      </ul>
  </div>

  </div>





