<div class="container-fluid">
  <div class="row" style="padding-bottom: 10px">
      <a class="navbar-brand" [routerLink]="['/project/list']" >
        <div class="navbar-brand-name">
          <img src="/assets/images/logo_elca.png" alt="Logo" class="img-responsive" />
          <span class="nav-name">Project Information Management</span>
        </div>
      </a>
      <ul class="nav navbar-nav" style="padding-top: 30px; padding-right: 60px; float: right">
        <li>
          <a href="#">EN|FR</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li class="disabled">
          <a href="#" aria-disabled="true">Log out</a>
        </li>
      </ul>
  </div>

  </div>





