@import "src/styles";

.nav {
  display: flex;
  justify-content: center;
  align-items: start;
  border-right: $border-gray;
  height: 100%;
  ul {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    font-weight: $fw-semibold;
    font-size: $font-regular;
    color: $text-faded;
    .active {
      font-size: $font-large;
      color: $color-blue;
    }
    li {
      cursor: pointer;
      a, a:visited {
        text-decoration: none;
        color: inherit;
      }
      &:hover {
        scale: 1.1;
        transition-duration: 150ms;
      }
    }
  }
}
