<div class="sm:ml-64">
  <div class="mt-2">


    <footer class="bg-white rounded-lg shadow m-4">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">© 2023 <a href="#" class="hover:text-blue-500">Nguyên Hồ™</a>. All Rights Reserved.
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
          <li>
            <a href="#" class="hover:text-blue-500">Contact</a>
          </li>
        </ul>
      </div>
    </footer>

  </div>
</div>
